{% extends 'base.html' %}
{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Liste des capsule</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Liste des capsules</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
  
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Liste des capsules</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  {% if capsules %}
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Série</th>
                        <th>ID Capsule</th>
                        <th>Status</th>
                        <th>Date de lancement</th>
                        <th>Date de lancement unix</th>
                        <th>Action</th>
                    </tr>
                    </thead>
  
                    <tbody>
                        {% for capsule in capsules %}
                        <tr>
                            <td>{{ capsule.capsule_serial }}</td>
                            <td>{{ capsule.capsule_id }}</td>
                            <td>{{ capsule.status }}</td>
                            <td>{% if capsule.original_launch %}{{ capsule.original_launch }}{% else %}-{% endif %}</td>
                            <td>{% if capsule.original_launch_unix %}{{ capsule.original_launch_unix }}{% else %}-{% endif %}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'capsule_deatil' capsule.capsule_serial %}">
                                    <i class="fas fa-eyes"></i> Voir plus
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
  
  
                    <tfoot>
                    <tr>
                        <th>Série</th>
                        <th>ID Capsule</th>
                        <th>Status</th>
                        <th>Date de lancement</th>
                        <th>Date de lancement unix</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                  </table>
                  {% else %}
                  <div class="alert alert-warning">
                    <p>Probablement vous avez eu un problème de connexion lors de la récupération des données au niveau de l'API SpaceX!!! <a href="{% url 'capsule_liste' %}">rafraichissez la page</a>.</p>
                  </div>
                  {% endif %}
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->

{% endblock body %}